* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.background {
  background-color: rgb(247, 243, 229);
}

.brewery-row {
  margin: 40px;
  padding-bottom: 15px;
  border-bottom: solid 1px gray;
  clear: both;
}

.image {
  float: left;
  margin-right: 15px;
  margin-bottom: 50px;
}